html {font-size: 18px;
line-height: 1.4;
font-family: helvetica;}

.main_container {border: 5px orange solid;
background-image: url("../images/glasses-bg.png");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
width: 100%;
height: 31rem;
display: flex;
flex-direction: column;
align-items: center;}


/***
header {border: black 10px solid;
display: flex;
flex-direction: column;
align-items: center;
}
***/

.header_main_container {display: flex;
  border: 5px red dotted;
width: 888px;
margin-top: 1rem;
padding: 1rem 2rem;
background-color: cadetblue;
}

.header_logo_box {border: 1px black solid;
display: flex;
flex-grow: 1;
}

.header_logo {margin-right: 1rem;
  display: flex;
  align-items: center;}

.header_logo img {height: 1.5rem;}

.header_logo_text {color: white;
  display: flex;
  align-items: center;}

nav.header_links {border: dashed black 1px;}

.header_links span {color: white;}

#products {margin-left: 2rem;
margin-right: 2rem;}

#display_420_only  {display: none;}

.large_caption {border: 5px blue dotted;
height: 26rem;
width: 1032px;
display: flex;
justify-content: flex-end;
  }

.large_caption_inside {border: 3px solid red;
margin-top: 10rem;
max-height: 5rem;
padding: 1.5rem 5rem;
background-color: white;
text-transform: uppercase;
display: flex;
align-items: center;}

.large_caption_inside span {font-weight: bold;
font-size: 2rem;
line-height: 1.2;}

/* MEDIA INQUIRY- TABLET SIZE OF 1024PX */
@media only screen and (max-width: 1024px) {
.main_container {height: 22rem;}
.header_main_container {margin-top: 0;
width: 100%; }
.large_caption_inside { margin-top: 5rem;
  margin-right: 2rem;
    padding: 0.75rem 4rem;}
.large_caption_inside span {font-size: 1.33rem;}
}

/* MEDIA INQUIRY - MOBILE SIZE OF 420PX */
@media only screen and (max-width: 420px) {

  .main_container {background-position: 20%;
  height: 17rem;}

.header_logo_text {display: none;}

.header_links span {display: none;}

.header_links {display: flex;
align-items: center;
}

#display_420_only {display: inline;}

/* .large-caption {width: 420px;} */

.large_caption_inside {margin-top: 9rem;
width: 100%;
padding-top: 1rem;
padding-bottom: 1rem;}

.large_caption_inside span {font-size: 1rem;
text-align: center;
padding-left: 6rem;}

}



/* OUT OF 420 */

.bottom_piece_container {border: red solid 2px;
  width: 100%;
display: flex;
flex-direction: column;
align-items: center;}

.icons_container {border: black dotted 1px;
  width: 960px;
  height: 8rem;
display: flex;
justify-content: center;
margin-top: 3rem;}


/* MEDIA INQUIRY FOR 420 ICONS CONTAINER */
@media only screen and (max-width: 420px) {

.icons_container {display: flex;
  flex-direction: column;
align-items: center;
height: 100%;
margin-top: 3.77rem;
margin-bottom: 3.77rem;}

.individual_icon_container.ruler {margin-top: 1.54rem;
margin-bottom: 1.54rem;}

.icon_caption_paper span, .icon_caption {font-size: 0.77rem;}
}


/* OUT OF 420 */

.individual_icon_container {border: red dashed 2px;
width: 5rem;
}

.ruler {margin-left: 6rem;
margin-right: 6rem;}

.icon_image_paper {display: block;
justify-content: center;}

.icon_image_paper img{width: 3.5rem;
display: block;
margin: auto;}

.icon_caption_paper {border: 1px solid black;
margin-top: 34px;
display: flex;
justify-content: center;}

.icon_caption_paper span {text-align: center;}

.icon_image img {width: 5rem;
}

.icon_image {border: black solid 1px;
height: 6rem;}

.icon_caption {border: black solid 1px;
  text-align: center;
display: flex;
justify-content: center;}


.texts_container {border: 5px green dashed;
width: 960px;
display: flex;
flex-direction: row;
justify-content: center;
}

.texts_individual_container {border: yellow 5px solid;
width: 35%;
display: flex;
flex-direction: column;
margin-top: 3rem;}

.texts_label {border: black 1px solid;
background-color: cadetblue;
padding-left: 1.25rem;
width: 10rem;
text-transform: uppercase;
color: white;
font-weight: bold;
padding: 0.5rem 1.25rem;
}

.texts_caption {border: black 1px solid;
}

.philosophy {padding-right: 5%;}

.appointments {padding-right: 5%;}



/* INTO 420  PHILOSOPHY AND APPOINTMENTS */

@media only screen and (max-width: 420px) {

.texts_container {display: flex;
flex-direction: column;
width: 100%;}

.texts_individual_container {width: 100%;
margin-top: 0px;}

.texts_label {width: 100%;
display: flex;
justify-content: center;
padding-left: 0px;
padding-right: 0px;}

.texts_label span {text-align: center;}

}




/* FOOTER */

footer {border: 1px dotted red;
width: 960px;
margin-top: 5rem;
padding: 4rem 4rem;
display: flex;
background-color: azure;
}

.footer_image img {height: 1.5rem;}

.footer_text_container {margin-left: 1rem;}
