html {font-size: 18px;}

.main_container {border: 5px orange solid;
background-image: url("../images/glasses-bg.png");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 30rem;
display: flex;
flex-direction: column;
align-items: center;}


/***
header {border: black 10px solid;
display: flex;
flex-direction: column;
align-items: center;
}
***/

.header_main_container {display: flex;
  border: 5px red solid;
width: 960px;
margin-top: 1rem;
}

.header_logo_box {border: 1px black solid;
display: flex;
flex-grow: 1.5; }

nav.header_links {border: dashed yellow 3px;}

.large_caption {border: 5px blue solid;
height: 26rem;
  width: 1032px;
display: flex;
justify-content: flex-end;
max-height: 30rem;
  }

.large_caption_inside {border: 3px solid red;
margin-top: 10rem;
max-height: 5rem;
padding: 1.5rem 5rem;
background-color: white;}

.first_midpiece_container {border: red solid 5px;
display: flex;
justify-content: center;}

.icons_container {border: black solid 5px;
  width: 960px;
  height: 8rem;
display: flex;
justify-content: center;
margin-top: 3rem;}

.individual_icon_container {border: red dashed 2px;
margin-right: 3rem;
width: 5rem;
}

.icon_image_paper {display: block;
justify-content: center;}

.icon_image_paper img{width: 3.5rem;
display: block;
margin: auto;}

.icon_caption_paper {border: 1px solid black;
text-align: center;
margin-top: 34px;}

.icon_image img {width: 5rem;
}

.icon_image {border: black solid 1px;
height: 6rem;}


.icon_caption {border: black solid 1px;
  text-align: center;
display: flex;
justify-content: center;}
